<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <f:layout name="Backend" />
    <title>Templates: Check</title>

    <f:section name="main">
        <p>
          The following Users have been Created:
        </p>
        <table class="table table-striped">
          <tr>
            <th>username</th>
            <th>pwd</th>
          </tr>
          <f:for each="{data}" as="user">
            <tr>
              <td>{user.0}</td>
              <td>{user.1}</td>
            </tr>
          </f:for>
        </table>

        <f:link.action action="overview" class="btn btn-default btn-warning">Back to Overview / Restart</f:link.action>
    </f:section>
</div>
